{
  "singleQuote": true,
  "semi": true,
  "arrowParens": "always",
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 120,
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "importOrder": ["^@/(.*)$", "^[./]"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}